@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;400&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.signIn{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signIn div h1{
    font-family:Outfit;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.signIn div  hr{
    border: solid;
    border-color: #59704d;
}

.signInForm{
    display: flex;
    margin: 2rem 0;
    justify-content: space-between;
}

.signInForm div{
    display: flex;
    flex-direction: column; 
}

.signInForm div input{
    height: 40px;
    width: 250px;
    padding-left: 35px;
    border-radius: 17px;
    border: 3px solid #D2E3C8;
    background: #FFF;
    cursor: pointer;

}
.signInForm div label{
    position: relative;
    top: -32px;
    left: 12px;
    width: 15px;
}
.signInForm div button{
    width: 120px;
    margin-top: 1rem;
    background-color: #86A789;
    border: none;
    color: #FFF;
    padding: 10px;
    border-radius:.75rem;
}

.signInForm  img{
    width: 30%;
    height: 10%;
}