.card{
    min-height: 100px;
    width: 90%;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    transition: all 0.5s ease-in-out;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.card div{
    display: flex;
    align-items: center;
    gap:2rem;
}

.card div h1{
    font-size: 20px;
    color: #7f9788;
}
.card div img{
    width: 15%;
    padding: 2rem 0 0 1rem  ;
}

.cardDesignation{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: rgb(90, 160, 90);
}
.cardDesignation div{
    gap:.5rem;
}
.card div h2{
    font-size: 15px;
    color: #516058;
}

.card button{
  background-color:rgba(90, 160, 90, 0.2);
  height: 30px;
  width: 100px;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 12px;
  color: rgb(90, 160, 90);
  font-weight: 500;
}
.card button:hover{
    background-color: rgb(90, 160, 90);
    color: #fff;
}